{% load static %}
<html>
<head>
<title>Remote Data Access</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">An Improved Authentication Scheme for Remote Data Access and Sharing Over Cloud Storage in Cyber-Physical-Social-Systems</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'UploadFile' %}">Upload File</a></li>
	  <li><a href="{% url 'DownloadFile' %}">Download Own/Share File</a></li>
	  <li><a href="{% url 'ChangePassword' %}">Change Password</a></li>
	  <li><a href="{% url 'Graph' %}">Computational Graph</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="130" alt="" />
	</div>
	<br/>
	<h4><b>Comparison Graph Screen</b></h4>   
			
	
		<img src="data:image/png;base64, {{ data }}" alt="graph1" />
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
</html>
	
</p>
</body>
</html>
